@charset "utf-8";

// Set Rotary colors
$sky-blue: #019FCB;
$royal-blue: #0C3C7C;
$steel-blue: #263B4C;
$azure-blue: #0050A2;

$cranberry: #C10042;
$turquoise: #018D8D;
$violet: #872175;
$gray-lighter: #F8F9FA;
$gray-darker: #5E717D;

$border-radius: 5px;

$theme: "white";
//$theme: "blue";

// Update Bulma's global variables
$grey-dark: $gray-darker;
$grey-light: $gray-lighter;
$primary: $royal-blue;
$link: $primary;
$link-hover: $primary;


@import "./bulma-0.7.5/bulma.sass";
@import "./bulma-carousel-master/src/sass/index.sass";

.has-rounded-top {
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.has-rounded {
  border-radius: $border-radius;
}

.club-name {
    font-weight: bold;
    margin-left: 20px;
    display: inline-block;
}

@if $theme == "blue" {
    .club-name {
        color: white;
    }
    .logo {
        display: inline-block;
        background: url("/rotary/images/white-logo.png") no-repeat; width: 213px; height: 80px; background-size: cover;  
    }
    .header {
        background-color: $royal-blue;
    }
}
@else if $theme == "white"{
    .club-name {
        color: $royal-blue;
    }

    .logo {
        display: inline-block;
        background: url("/rotary/images/logo.png") no-repeat; width: 206px; height: 77px; background-size: cover;
    }

}
.footer{
    padding-top: 0px;
    background-color: $gray-lighter;
}
.featured-container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%; /* for IE 6 */
}

.featured-caption {
    color: white; 
    text-align: left;
    letter-spacing: -1px;
    background: $royal-blue; /* The Fallback */
    background: rgba($royal-blue, 1);
    padding: 10px; 
    position: absolute;
    bottom: 6px;
    left: 16px;
}
.featured-caption:hover {
    color: white; 
}
span.spacer {
    padding:0 5px;
}

.contacts {
    background-color: $gray-lighter;
    padding: 10px; 
    margin-bottom: 10px; 
}

.has-blue-text {
    color: $royal-blue;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(0,0,0,0);
  width: 90%;
  max-width: 1200px;
  max-height: 700px;
  overflow: hidden;
  text-align: center;
}

.modal img {
  height: 100vh;
}

.item-slide{
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.item-slide img {
  max-width: 1200px;
}
