{{ define "main" }}
 <section class="section">
    <div class="container is-small">
      <div class="columns">
        <div class="column is-two-thirds">
          <h3 class="is-size-3 page-title">{{ .Title }}</h3>
        </div>
      </div>
      <div class="columns article-layout">
        <div class="column is-two-thirds">
          <div class="content-panel">
            <img src="{{ partial "page-resource-url.html" (dict "Page" . "Path" .Params.cover_image) }}" alt="{{ .Title }}">
            <div class="content content-panel-body">
              <p>{{ .Content }}</p>
            </div>
          </div>
        </div>
        <div class="column is-one-third article-sidebar">
          <div>
            <div class="content related-list">
                {{ $project := .Params.Title }}
                {{ if $project }}
                <p class="title is-4 has-blue-text">{{ i18n "news" }}</p>
                {{ range where (where .Site.Pages "Section" "news") ".Params.project" "==" $project}}
                  <div class="columns">
                    <div class="column is-one-third">
                      <span class="is-size-7">{{ partial "i18n-date.html" .Date }}</span>
                    </div>
                    <div class="column is-two-thirds">
                      <a href="{{ .Permalink | relURL }}">{{ .Title }}</a>
                    </div>
                  </div>
                {{ end }}
                {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
