{{ define "main" }}
  <article class="section nested-copy-line-height nested-img">
    <div class="container is-small">
      <section class="content">
        <h1 class="page-title is-size-3">{{ .Title }}</h1>
        {{- .Content -}}
      </section>
      <section class="columns is-multiline mt-5">
        {{ range .Paginator.Pages }}
          <div class="column is-one-third">
            {{- partial "summary.html" . -}}
          </div>
        {{ end }}
      </section>
      {{- template "_internal/pagination.html" . -}}
    </div>
  </article>
{{ end }}
