{{ define "main" }}
 <section class="section">
    <div class="container is-small">
      <div class="columns">
        <div class="column is-two-thirds">
          <h3 class="is-size-3 has-text-centered">{{ .Title }}</h3>
          {{ with .Params.Subtitle }}<h5 class="is-size-5 has-text-centered">{{ . }}</h5>{{ end }}
        </div>
      </div>
      <div class="columns">
        <div class="column is-two-thirds">
          {{ $link := .Permalink }}
          {{ with .Params.image }}
          {{ $image := . }}
          <img class="has-rounded-top" src="{{$link}}{{$image}}">
          {{ end }}
          <p class="is-size-7">{{ dateFormat "2006-01-02" .Params.Date}}{{ with .Params.Where }}, {{ . }} {{ end }}</p>
          <div class="content">
            {{ .Content }}
          </div>
        </div>
        <div class="column">
          {{ $project := .Params.project }}
          {{ if $project }}
          <div class="contacts">
            {{ range where (where .Site.Pages "Section" "projects") ".Params.title" "==" $project}}
            <p class="is-size-7">{{ i18n "project" }}</p>
            <p class="title is-4 has-blue-text"><a href="{{ .Permalink | relURL }}">{{ .Title }}</a></p>
              <p>{{ .Summary }}(<a href="{{ .Permalink | relURL }}">{{ i18n "more" }}...</a>)</p>
            {{ end }}
          </div>
          {{ end }}
          {{ with .Params.partners }}
          <div class="contacts">
            <p class="is-size-7">{{ i18n "partners" }}</p>
            {{ range . }}
            <div><a href="{{ .url }}">{{ .name }}</a></div>
            {{ end }}
          </div>
          {{ end }}
          <div class="content">
            {{ $related := .Site.RegularPages.Related . | first 7 }}
            {{ if $related }}
              <p class="is-size-4">{{ i18n "related" }}</p>
              {{ with $related }}
                {{ range . }}
                <div class="columns">
                  <div class="column is-one-third">
                    <span class="is-size-7">{{ dateFormat "2006-01-02" .Params.Date }}</span>
                  </div>
                  <div class="column is-two-thirds">
                    <a href="{{ .Permalink | relURL }}">{{ .Title }}</a>
                  </div>
                </div>
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
