{{ define "main" }}
 <section class="section">
    <div class="container is-small">
      <div class="columns">
        <div class="column is-two-thirds">
          <h3 class="is-size-3 has-text-centered">{{ .Title }}</h3>
        </div>
      </div>
      <div class="columns">
        <div class="column is-two-thirds">
          <img class="has-rounded-top" src="{{ .Params.Image}}">
          <div class="content">
            <p>{{ .Content }}</p>
          </div>
        </div>
        <div class="column">
          {{ $project := .Params.project }}
          {{ if $project }}
          <div class="contacts">
            {{ range where (where .Site.Pages "Section" "projects") ".Params.project" "==" $project}}
            <p class="is-size-7">{{ i18n "project" }}</p>
            <p class="title is-4 has-blue-text"><a href="{{ .Permalink | relURL }}">{{ .Title }}</a></p>
              <p>{{ .Summary }}</p>
            {{ end }}
          </div>
          {{ end }}
          <div class="content">
            {{ $related := .Site.RegularPages.Related . | first 7 }}
            {{ if $related }}
              <p class="is-size-4">{{ i18n "related" }}</p>
              {{ with $related }}
                {{ range . }}
                <div class="columns">
                  <div class="column is-one-third">
                    <span class="is-size-7">{{ dateFormat "2006-01-02" .Params.Date }}</span>
                  </div>
                  <div class="column is-two-thirds">
                    <a href="{{ .Permalink | relURL }}">{{ .Title }}</a>
                  </div>
                </div>
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
