<div class="card has-rounded">
  <div class="card-image has-rounded-top">
    <figure class="image is-4by3 has-rounded-top">
      <a href="{{ .Permalink | relURL }}">
        <img class="has-rounded-top" src="{{ print .Permalink .Params.Image }}" alt="Placeholder image">
      </a>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">

      <div class="media-content">
        <p class="title is-4 has-blue-text"><a href="{{ .Permalink | relURL }}">{{ .Title }}</a></p>
      </div>
    </div>

    <div class="content">
      <p>{{ .Summary }} (<a href="{{ .Permalink | relURL }}">{{ i18n "more" }}...</a>)</p>
      <time datetime="2016-1-1">{{ .PublishDate.Format "January 2, 2006" }}</time>
    </div>
  </div>
</div>
