<div class="card has-rounded">
  <div class="card-image has-rounded-top">
    <figure class="image is-4by3 has-rounded-top">
      <a href="{{ .Permalink | relURL }}">
        {{- $permalink := .Permalink -}}
        {{- $card := . -}}
        {{- $image := .Params.cover | default .Params.image -}}
        {{- with $image -}}
        {{- $resources := $card.Resources.Match . -}}
        {{- $img := index ($resources) 0 -}}
        {{- $scaled := $img.Resize "430x" -}}
        <img class="has-rounded-top" src="{{ $scaled.RelPermalink }}" alt="Placeholder image">
        {{ end }}
      </a>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">

      <div class="media-content">
        <p class="title is-4 has-blue-text"><a href="{{ .Permalink | relURL }}">{{ .Title }}</a></p>
      </div>
    </div>

    <div class="content">
      <p>{{ .Summary }} (<a href="{{ .Permalink | relURL }}">{{ i18n "more" }}...</a>)</p>
      <time datetime="2016-1-1">{{ .PublishDate.Format "January 2, 2006" }}</time>
    </div>
  </div>
</div>
