{{ define "main" }}
  {{ $flist := (where (where .Site.RegularPages  "Section" "projects" ) ".Params.featured" "==" true ) }}
  {{ if (gt (len $flist) 0) }}
  <div id="carousel" class="carousel">

    {{ range  $index, $element := $flist }}
      <div class="item-{{ add $index 1 }}">
        <div class="featured-container">
          <a href="{{ $element.Permalink | relURL }}" title="{{ $element.Title }}">
            <img src="{{ partial "page-resource-url.html" (dict "Page" $element "Path" $element.Params.cover_image) }}">
            <span class="featured-caption is-pulled-left">
              <span class='spacer'></span>
              {{ $element.Title }}
              <span class='spacer'></span>
            </span>
          </a>
        </div>
      </div>
    {{ end }}  
  </div>
  {{ end }}  


  <section class="section">
    <div class="container is-small">
      <div class="columns">
        <div class="column is-two-thirds">
          <div class="section-heading">
            <h3 class="is-size-3">{{ .Site.Title }}</h3>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-two-thirds">
          <div class="home-intro">
            <img src="{{ .Site.Params.Site.Subpath }}/img/club-picture.jpg">
            <div class="home-intro-copy">
              {{ with .Site.GetPage "/about/history" }}
              <p>{{ .Summary }}</p>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <h3 class="is-size-3 has-text-centered"></h3>
          <div class="contacts">
            <p class="has-text-weight-bold">{{ i18n "meetingInfo" }}</p>
            <p><span class="has-text-weight-bold">{{ i18n "where" }}</span> {{ .Site.Params.Club.Location }}</p>
            <p>{{ .Site.Params.Club.AddressLine1 }}</p>
            <p>{{ .Site.Params.Club.AddressLine2 }}, {{ .Site.Params.Club.Country }}</p>
            <p><span class="has-text-weight-bold">{{ i18n "when" }}</span> {{ .Site.Params.Club.MeetingTime }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ $newsPages := (where .Site.RegularPages "Section" "news").ByDate.Reverse }}
  {{ $firstNewsPage := first 9 $newsPages }}
  {{ if gt (len $newsPages) 0 }}
  <section class="section">
    <div class="container is-small">
      <div class="section-heading">
        <h3 class="is-size-3">{{ i18n "news" }}</h3>
      </div>
      <div class="columns is-multiline">
      {{ range $firstNewsPage }}

        <div class="column is-one-third">
          {{ partial "card.html" . }}
        </div>


      {{ end }}
      </div>

      {{ if gt (len $newsPages) 9 }}
      {{ with .Site.GetPage "/news" }}
      <div class="has-text-centered">
        <a class="button is-link" href="{{ "news/page/2/" | relLangURL }}">{{ i18n "nextNewsPage" }}</a>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </section>
  {{ end }}

    <script src="/dist/js/bulma-carousel.min.js"></script>
    <script>
    bulmaCarousel.attach('#carousel', {
      slidesToScroll: 1,
      slidesToShow: 1,
      loop: true,
      autoplay: true
    });
    </script>
{{ end }}
