{{- $matchstr := (print (.Get "subdir") "/*") -}}
{{- $id :=  (print "gallery-" (delimit (shuffle (seq 1 9)) "")) -}}
<div class="section {{ .Get "class" }}" id="{{ $id }}">
  {{- $modalid :=  (print "modal-" $id) -}}
  <div class="container">
      <div class="gallery">
        <div class="columns is-multiline">
        {{- range $index, $img := .Page.Resources.Match $matchstr -}}
        {{- $scaled := $img.Fill "100x80" }}
        <div class="column is-one-fifth">
            <a href="{{ $img }}" >
                <img src="{{ $scaled }}" alt="" class="has-rounded"/>
            </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
